﻿body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121214;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="password"],
select,
button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #00B37E;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

    button:hover {
        background-color: #00875F;
    }

.button-container {
    text-align: center;
}

.password-field {
    position: relative;
}

.field-icon {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
